@model IEnumerable<GCD0702AppDev.Models.Product>
@{
    ViewBag.Title = "Create";
}

<h2>Add a Product to Cart</h2>

@using (Html.BeginForm("Create", "Carts", FormMethod.Post))
{
  <div class="form-group">
    
  </div>
}

