@model IEnumerable<GCD0702AppDev.Models.Cart>
@{
		ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
	<tr>
		<th>Cart Id</th>
		<th>User Id</th>
		<th>User Name</th>
		<th>Product Name</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.Id</th>
			<th>@item.CustomerId</th>
			<th>@item.Customer.UserName</th>
			<th>@item.Product.Name</th>
		</tr>
	}
	</table>

