@model IEnumerable<GCD0702AppDev.Models.Cart>
@{
    ViewBag.Title = "Mine";
}

<h2>Mine</h2>

@Html.ActionLink("Create a new Cart", "Create")

<table class="table table-striped">
  <tr>
    <th>Cart Id</th>
    <th>Product Name</th>
  </tr>
  @foreach (var item in Model)
	{
    <tr>
      <th>@item.Id</th>
      <th>@item.Product.Name</th>
    </tr>
	}
  </table>

